.monaco-workbench {
  font-family: "Iosevka Nerd Font", monospace !important;
  font-size: 14px;
}

.monaco-list-row,
.monaco-tree-row,
.part,
.tabs-container {
  font-family: "Iosevka Nerd Font", monospace !important;
  font-size: 14px;
}
